{% extends "ShopBundle::base.html.twig" %}

{% block title %}
    {{ parent() }} - Catalogue
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Catalogue</h1>
                </div>

                <div>
                    {% for c in categories %}

                        <div>
                            <h2>{{ c.title }}</h2>
                            <p>{{ c.description }}</p>
                            <p><a href="{{ path('shop_catalog_category', {'categorySlug': c.slug}) }}">Détail</a></p>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
